@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;

    --radius: 0.625rem;
  }

  body {
    @apply bg-ultra-dark text-white antialiased;
  }

  a {
    @apply text-white font-medium no-underline transition-colors duration-200;
  }

  a:hover {
    @apply text-ultra-red;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    @apply rounded-md px-4 py-2 font-semibold transition;
  }

  button:hover {
    @apply border-ultra-red;
  }
}
